.App {
  text-align: center;
}

i {
  animation: animate 3s infinite;
  transition: 0.5s ease-out;
}

@keyframes animate {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(5.5px);
  }
  60% {
    transform: translateY(2.8px);
  }
}
